<!-- title view -->
<% if (title){ %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
<!-- if any message sent will be here -->
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div id="acc-title">
    <% if (locals.accountData.account_type == "Client") { %>
        <h2>Welcome Basic</h2>
        <h3>You're logged in</h3>
        <%# accountLink %>
        <a id="update-link" href="/account/update/<%= locals.accountData.account_id %>"><p>Update account information</p></a>
    <% } %>
    <% if (locals.accountData.account_type == "Employee") { %>
        <h2>Welcome Happy</h2>
        <%# accountLink %>
        <a id="update-link" href="/account/update/<%= locals.accountData.account_id %>"><p>Update account information</p></a>
        <h3 class="invManageTitle">Inventory Management</h3>
        <a href="/inv/"><p id="manageInventoryLink">Manage Inventory</p></a>
    <% } %>
    <% if (locals.accountData.account_type == "Admin") { %>
        <h2>Welcome Manager</h2>
        <%# accountLink %>
        <a id="update-link" href="/account/update/<%= locals.accountData.account_id %>"><p>Update account information</p></a>
        <h3 class="invManageTitle">Inventory Management</h3>
        <a href="/inv/"><p id="manageInventoryLink">Manage Inventory</p></a>
    <% } %>
</div>

<h2>Reviews made by you</h2>

<%= reviewByAccount %>